.App {
  text-align: center;
}
/* NAVIGATION */
.nav-bar {
  display: flex;
  align-items: center;
  /* align-self: flex-start; */
  background-color: #03071e;
  border-bottom: 5px groove #370617;
  margin-bottom: 20px;
  width: 100vw;
  height: 50px;
}
.me-auto .navbar-nav {
  display: flex;
}
a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #d00000;
}
.photoCard {
  width: 50px;
  height: 50px
}