.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(175, 173, 245, 0.53) 23.95%, rgba(133, 80, 174, 0.51) 100%, rgba(133, 80, 174, 0.51) 100%, rgba(186, 144, 220, 0.51) 100%, rgba(153, 138, 237, 0.34) 100%);
  background-blend-mode: soft-light;
}

.register-logo {
width: 300px;
height: 90px;
margin-bottom: 60px;
}

.page {
margin-top: 40px;
height: 100vh;
width: 100vw;
display:flex;
align-items: center;
justify-content: start;
flex-direction: column;
color: white;
margin-top: 50px;

}

.submit-button {
  margin-top: 10px;
  background: rgba(200, 199, 196, 0.38);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.submit-button:hover {
  background: blueviolet;
}
/* NAVIGATION */
.nav-bar {
  display: flex;
  align-items: center;
  /* align-self: flex-start; */
  background: conic-gradient(
    from 261.19deg at 59.46% 46.15%,
    rgba(98, 57, 217, 0.89) -52.5deg,
    rgba(129, 28, 207, 0.57) 232.5deg,
    rgba(115, 95, 233, 0.894551) 270deg,
    rgba(98, 57, 217, 0.89) 307.5deg,
    rgba(129, 28, 207, 0.57) 592.5deg
  );
  border-bottom: 5px groove #370617;
  margin-bottom: 20px;
  width: 100vw;
  height: 50px;
}
.me-auto .navbar-nav {
  display: flex;
}
a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #d00000;
}
/* ADD PHOTO */
.add-photo-nav {
  display: flex;
  width: 25rem;
  background-color: #939edc;
  border: 1px groove #939edc;
  border-radius: 5px;
  align-self: center;
  margin: 10px;
}

/* PHOTOS */
.photoCard {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.card {
  margin: 5px;
  width: 9rem;
  height: 13.5rem;
}

/* COMMENTS */
.comment-card {
  display: flex;
  width: 50vw;
}
.comment-card > .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}
